
@media only screen and (max-width: 800px) {
  
  body {

    background: rgb(223, 173, 204);
   
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  background: rgb(223, 173, 204);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 800px;
  height: 500px;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 8px 8px 10px  rgb(191, 164, 181);
  border: 1px solid rgb(202, 168, 189);
  display: flex;
  align-items: center;
  justify-content: center;

}
.links {
  gap: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: rgb(170, 102, 144);
  width: 270px;
  height: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: -40px;
}

.email {
  gap: 6px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 78%;
  align-items: center;
}

.link-email {
  width: 100%;
  margin-top: 5px;
}

.phone {
  gap: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.phone-number {
  width: 100%;
  margin-top: 5px;
}

.container2 {
  gap: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.github-icon, .twitter-icon, .linkedin-icon, .where {
  width: 100%;
  margin-top: 5px;
}

.footer {
  overflow: auto;
  opacity: 0;
}


.flow {
  background-color: rgba(255, 255, 255, 0.701);
  margin-left: -30px;
  width: 270px;
  height: 22px;

}

.email-icon {
 width: 13px;
 
}
.text-email {
 
 font-size: 13px;
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(233, 216, 226) ;
 font-weight: bold
 
}
.link-email, p {

 font-size: 13px;
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(233, 216, 226) ;
 font-weight: lighter;
 
}

.phone-icon {
  width: 13px;

  
 }

h2 {

  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(233, 216, 226) ;
  font-weight: bold;
}
.phone-number, p{

 font-size: 13px;
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(233, 216, 226) ;
 font-weight: lighter;
 
}
.where {

  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(233, 216, 226) ;
  font-weight: bold;
  
}

.github-icon {
  width: 18px;
  
}
.github-icon:hover {
  opacity: 0.3;
}
.linkedin-icon {
  width: 18px;
 
}
.linkedin-icon:hover {
  opacity: 0.3;
}
.twitter-icon {
  width: 18px;

 
}
.twitter-icon:hover {
  opacity: 0.3;
}

.beauty {
  display: flex;
  justify-content: center;
  transform: translate(-14%);
  border-radius: 10px 100px / 120px;
  
}

.user-info {
  gap: 18px;
  display: flex;
  flex-direction: column;

}
.title, .title2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.format {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0) ;
  font-weight: bold
 
}
.title {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(170, 102, 144);
  letter-spacing: 2px;

}
.title2 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  letter-spacing: 2px;
}
.note {
  font-size: 14px;
  color: black;
  font-weight: lighter;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.techno {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;

}

.techno1, li {
  font-size: 14px;
  font-weight: lighter;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  list-style-position: inside;
}

.right-corner {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  margin-left: -51px;
  margin-top: -449px;
  background-color: rgb(170, 102, 144);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 60px;
}

.squareleft {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
 margin-left: -25%;
 margin-top: -33%;
 
  
}
.circleright {
  display: flex;
  flex-direction: column;
  background-color: rgb(170, 102, 144);
  width: 70px;
  height: 70px;
  border-radius: 50%;
 margin-left: 67%;
 margin-top: -3%;

}
.squareright {
  display: flex;
  background-color: rgb(113, 97, 109);
 height: 20px;
 width: 70px;
 margin-left: -890%;
 margin-top: 65%;
 
 
}
.lastsquare {
  display: flex;
  background-color: rgb(180, 161, 175);
  height: 40px;
 width: 50px;
 margin-top: -30%;
 margin-left: -5%;
 transform: translate(-50%);
}
.lastcircle {
  display: flex;
  background-color: rgb(127, 51, 96);
  width: 50px;
  height: 50px;
  border-radius: 50%;
 margin-left: -651%;
 margin-top: -6%;
 transform: translate(-50%);
}