* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {

  height: 100vh;
  background: rgb(223, 173, 204);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.card {
  width: 800px;
  height: 500px;
  padding: 40px;
  text-align: center;
  background: white;
  border-radius: 20px;
  box-shadow: 8px 8px 10px  rgb(191, 164, 181);
  border: 1px solid rgb(202, 168, 189);

}

.footer {
  overflow: auto;
  opacity: 0;
}


.links {
  background: rgb(170, 102, 144);
  width: 300px;
  height: 500px;
  margin: -41px -40px;
  text-align: center;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 9;
}
.flow {
  background-color: rgba(255, 255, 255, 0.701);
  position: absolute;
  width: 300px;
  height: 22px;
  top: 470px;
  left: 263px;
  z-index: 10;
  
}

.email-icon {
 width: 15px;
 position: absolute;
 left: 32px;
 top: 250px;
 z-index: 10;
}
.text-email {
 left: 57px;
 top: 250px;
 position: absolute;
 z-index: 10;
 font-size: 15px;
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(233, 216, 226) ;
 font-weight: bold
}
.link-email, p {
  left: 32px;
 top: 275px;
 position: absolute;
 z-index: 10;
 font-size: 15px;
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(233, 216, 226) ;
 font-weight: lighter;
}

.phone-icon {
  width: 15px;
  position: absolute;
  left: 32px;
  top: 300px;
  z-index: 10;
 }

h2 {
  left: 57px;
  top: 300px;
  z-index: 10;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(233, 216, 226) ;
  z-index: 10;
  position: absolute;
  font-weight: bold;
}
.phone-number, p{
 left: 32px;
 top: 325px;
 z-index: 10;
 font-size: 15px;
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(233, 216, 226) ;
 font-weight: lighter;
 position: absolute;
}
.where {
  left: 32px;
  top: 410px;
  z-index: 10;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(233, 216, 226) ;
  font-weight: bold;
  position: absolute;
}

.github-icon {
  width: 15px;
  position: absolute;
  left: 32px;
  top: 435px;
  z-index: 10;
}
.github-icon:hover {
  opacity: 0.3;
}
.linkedin-icon {
  width: 15px;
  position: absolute;
  left: 57px;
  top: 435px;
  z-index: 10;
}
.linkedin-icon:hover {
  opacity: 0.3;
}
.twitter-icon {
  width: 15px;
  position: absolute;
  left: 82px;
  top: 435px;
  z-index: 10;
}
.twitter-icon:hover {
  opacity: 0.3;
}