* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {

  height: 100vh;
  background: rgb(223, 173, 204);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.card {
  width: 800px;
  height: 500px;
  padding: 40px;
  text-align: center;
  background: white;
  border-radius: 20px;
  box-shadow: 8px 8px 10px  rgb(191, 164, 181);
  border: 1px solid rgb(202, 168, 189);
  
}

.footer {
  overflow: auto;
  opacity: 0;
}